@import "./variables/variables.sass"
@import "./variables/mixins.sass"

.Dashboard
  height: 100vh
  h3
    font-size: 20px
  .user-profile
    padding: 3vh 5vw
    .user
      display: flex
      align-items: center
      .avatar
        width: 80px
        height: 80px
      .user-name
        font-size: 25px
        font-family: $title-font
        color: $title-color
      .coins

    .user-health
      margin-left: 20px
      width: 100%
      .health
        display: flex
        align-items: center
        .health-bar
          height: 10px
          width: 100%
        .hp
          margin: 0
          padding: 0 5px
          font-size: 12px
  .date-now
    font-size: 35px
    padding: 0 5vw
    font-family: $title-font
    font-weight: 300
    color: $title-color
  .MuiMobileStepper-root
    background-color: transparent
    justify-content: center
    padding: 0
  .progress-card
    margin: 5vw
    height: 25vh
    padding: 5vw
    .daily-tracker
      text-align: center
      font-size: 14px
      margin-top: 2vh
      p
        margin: 0
    .daily-
    h3
      margin-bottom: 2em
    .daily-progress
      height: 40px
      border-radius: 20px
    .progress-bar
      background-color: transparent
    .monthly-progress
      height: 40px
      border-radius: 20px
    .spending-body
      .spending-location
        padding: 0
      .spending-amount
        padding: 0

  .goals
    padding: 4vh 5vw
    h2
      margin: 0
    h3
      font-size: 20px
    .save-button
      float: right
      color: white
      font-size: 18px
      font-weight: bold
      margin: 10vh 0 4vh 0
    .close-button
      position: relative
      float: right
    .new-goal-card
      margin: 2vh 0
      background-color: #3949ab
      color: white
      .new-goal-card-title
        display: flex
        justify-content: space-between
        align-items: center

    .goal-card
      margin: 2vh 0
      color: white
      .goal-main-info
        padding: 2vh 0
        display: flex
        justify-content: space-between
        align-items: center
        .goal-target
          margin: 0
          font-size: 18px
      .goal-extra-info
        margin-top: 1em
        .card-buttons
          display: block
          padding: 0
          text-align: right
          color: white
    .goal-form
      margin: 2vh
      .MuiFormControl-root.MuiTextField-root
        width: 70%
      .MuiFormControl-root.MuiTextField-root.name-field
        width: 80%
      .MuiFormLabel-root
        color: white
      .MuiInput-underline:before
        border-bottom: 1px solid white
      .MuiInput-underline:after
        border-bottom: 2px solid white
      .MuiFormHelperText-root
        color: white
      .MuiInputBase-input
        color: white
      .MuiIconButton-root
        color: white
  .goal-card:last-child
    margin-bottom: 10vh
