@import "./variables/variables.sass"
@import "./variables/mixins.sass"

.Home
  text-align: center
  margin: 10vh 0
  .title
    @include title

  .button
    @include button

  .logo
    width: 45vw
    height: 45vw
    margin: 10vh 0

  a
    color: white
