.legend
  display: flex
  justify-content: space-around
  align-items: center
  padding: 1vh
.dot-completed
  height: 20px
  width: 20px
  border-radius: 50%
  background-color: #28a745
.dot-upcoming
  height: 20px
  width: 20px
  border-radius: 50%
  background-color: #ffc107

.description
  font-size: 15px