@import "./variables/variables.sass"
@import "./variables/mixins.sass"

.transaction-card
  text-align: left
  line-height: 9px
  box-shadow: 0 0 15px rgba(0,0,0,0.25)
  margin-left: 5%
  margin-right: 5%
  margin-top: 5%
  margin-bottom: 1%
  font-family: 'Lato', sans-serif
  border-radius: 2%
  display: flex
  flex-direction: column
  background-color: #e57373
  color: white

.transaction-details
  display: flex
  justify-content: space-around
