@import "./variables/variables.sass"
@import "./variables/mixins.sass"

.store-title
  font-size: 3.5rem
  font-family: 'Lato', sans-serif
  color: #ef5350
  display: flex
  justify-content: flex-start
  align-items: center
  margin-left: 3%
  margin-top: 3%
  margin-bottom: 3%

.entire-store
  margin-left: 3%
  margin-right: 3%

.inventory-card
  box-shadow: 0 0 15px rgba(0,0,0,0.25)
  background-color: #3949ab
  color: white
  border-radius: 10px

.MuiSvgIcon-root.store-icon
  font-size: 4.5rem

.inventory-title, .market-title
  font-size: 1.5rem
  font-family: 'Lato', sans-serif
  margin: 2%

.coins-inventory
  display: flex
  align-items: center
  justify-content: flex-start

.market-card
  margin-top: 5%
  box-shadow: 0 0 15px rgba(0,0,0,0.25)
  background-color: #ef6c00
  color: white
  border-radius: 10px
